#root {
    text-align: center;
    height: 100vh;
}

.bg {
    background: url(./src/assets/bg-waves.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    z-index: -10;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header-box {
    max-width: 1280px;
    height: 64px;
    padding: 0 5%;
    margin: 0 auto;
    color: var(--text-color);
    font-size: var(--fontsize-medium1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .bg {
        background: url(./src/assets/bg-waves-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 100%;
    }
}
