.header {
    max-width: 1280px;
    height: 64px;
    padding: 0 5%;
    margin: 0 auto;
    color: var(--text-color);
    font-size: var(--fontsize-medium1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-section {
    display: flex;
    align-items: center;
}

.header-left {
    width: 35%;
}

.header-center {
    width: 7%;
    display: flex;
    justify-content: center;
}

.header-right {
    width: 35%;
}

.header-right .header-item {
    width: 50%;
}

.header-item {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.moon-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 1rem;
}

.sign-up-button {
    background-color: var(--secondary-color);
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.sign-up-button p {
    margin: 0 auto;
    color: var(--bg-color);
}

a {
    text-decoration: none;
}

.underlined {
    height: 100%;
    display: flex;
    align-items: center;
}

a:link {
    color: var(--text-color);
}

a:visited {
    text-decoration: none;
    color: var(--text-color);
}

.underlined:hover {
    border-bottom: 2px solid var(--text-color);
}

.sign-up-button:hover {
    box-shadow: 0px 4px 4px 2px var(--secondary-text-color);
}

@media only screen and (max-width: 1280px) {
    .header {
        padding: 0 5%;
        font-size: var(--fontsize-medium1);
    }
}

@media (max-width: 480px) {
    .header {
        display: block;
        padding: 0;
        height: 3.5rem;
    }
    .header-section {
        display: none;
        align-items: center;
    }
    .nav {
        justify-content: space-around;
        height: 100%;
    }
    .nav .header-left {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
