.drop-button-container {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.drop-button-container:hover {
    background-color: var(--secondary-blur-color);
}

.drop-button-container p {
    margin: 0 auto;
    color: var(--bg-color);
}

#file {
    display: none;
}
