.drop-button-container {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background 0.3s;
}

.drop-button-container:hover {
    background-color: var(--secondary-blur-color);
}

.drop-button-container p {
    color: #f3f3f3;
}

.drop-button-container input {
    display: none;
}

#drop-button-file {
    display: none;
}
